body {
  background-color: rgb(33,33,33);
}

.contact-page {
  background-color: rgb(46,46,46);
  color: white;
  padding: 10px 15px;
  margin: 20px;
  border: 1px solid rgb(73, 73, 73);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.info1 div {
  margin: 10px 0;
  font-size: 1.1em;
}

.info2 div {
  margin: 10px 0;
}

.contact-page .info{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-page .picture {
  margin-right: 20px;
}

.contact-page .picture img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.add-view-contact {
  text-align: center;
  border: none;
}

.add-view-contact button {
  color: rgb(233, 233, 233);
  background-color: rgb(88, 88, 88);
  cursor: pointer;
  margin: 20px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.form input {
  background-color: rgb(215, 215, 215);
  outline: none;
  display: block;
  border: none;
  margin: 5px;
  padding: 10px;
}
.form button {
  background-color: rgb(88, 88, 88);
  cursor: pointer;
  margin: 10px 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}


.edit-delete {
  margin-left: 15px;
  align-items: center;
  text-align: center;
}

.edit-delete button {
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
}

.edit-delete .edit{
  background-color: rgb(109, 109, 109);
}

.edit-delete .delete {
  background-color: rgb(30, 30, 30);
}